In [ ]:
from google.colab import drive

drive.mount('/content/drive/', force_remount=True)
%cd gdrive/MyDrive/Colab\ Notebooks/natural\-logic
!ls

Mounted at /content/drive/
[Errno 2] No such file or directory: 'gdrive/MyDrive/Colab Notebooks/natural-logic'
/content
drive  sample_data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
filename = "/content/drive/MyDrive/Colab Notebooks/natural-logic/final-datasets/block-wise-data/blocks-dec26/annotated/combined/annotations_feb10.xlsx"

In [ ]:
import os
os.path.exists(filename)

True

In [ ]:
df = pd.read_excel(filename)
df.head()

,SICK_id,Premise,Hypothesis,Modifier,Premise/Hypothesis/Both,Part of Premise/Hypothesis Modified,Ground Truth
0,90.0,a man is jumping into an empty pool,a man is jumping into a full pool,NONE,NONE,NONE,Alternation
1,90.0,every man is jumping into an empty pool,a man is jumping into a full pool,every,Premise,Subject,Alternation
2,90.0,a man is jumping into an empty pool,every man is jumping into a full pool,every,Hypothesis,Subject,Negation
3,90.0,every man is jumping into an empty pool,every man is jumping into a full pool,every,Both,Subject,Negation
4,90.0,some man is jumping into an empty pool,a man is jumping into a full pool,some,Premise,Subject,Alternation

In [ ]:
df['SICK_id'] = df['SICK_id'].astype('int')
df.head()

,SICK_id,Premise,Hypothesis,Modifier,Premise/Hypothesis/Both,Part of Premise/Hypothesis Modified,Ground Truth
0,90,a man is jumping into an empty pool,a man is jumping into a full pool,NONE,NONE,NONE,Alternation
1,90,every man is jumping into an empty pool,a man is jumping into a full pool,every,Premise,Subject,Alternation
2,90,a man is jumping into an empty pool,every man is jumping into a full pool,every,Hypothesis,Subject,Negation
3,90,every man is jumping into an empty pool,every man is jumping into a full pool,every,Both,Subject,Negation
4,90,some man is jumping into an empty pool,a man is jumping into a full pool,some,Premise,Subject,Alternation

In [ ]:
df.columns

Index(['SICK_id', 'Premise', 'Hypothesis', 'Modifier',
       'Premise/Hypothesis/Both', 'Part of Premise/Hypothesis Modified',
       'Ground Truth'],
      dtype='object')

In [ ]:
u = ["every", "always", "never", "everyone of"]
e = ["some", "at least", "exactly one", "all but one"]
n = ["not every", "no", "not"]
adj = ["green", "happy", "sad", "good", "bad", "abnormally", "elegantly", "an elegant", "an abnormal"]

In [ ]:
def get_quantifier_type(x):
  if x in u:
    return "Universal"
  elif x in e:
    return "Existential"
  elif x in n:
    return "Negation"
  elif x in adj:
    return "Adjectives/Adverbs"
  else:
    return "NONE"

In [ ]:
df['Quantifier Type'] = df['Modifier'].apply(lambda x: get_quantifier_type(x)  )
df.head()

,SICK_id,Premise,Hypothesis,Modifier,Premise/Hypothesis/Both,Part of Premise/Hypothesis Modified,Ground Truth,Quantifier Type
0,90,a man is jumping into an empty pool,a man is jumping into a full pool,NONE,NONE,NONE,Alternation,NONE
1,90,every man is jumping into an empty pool,a man is jumping into a full pool,every,Premise,Subject,Alternation,Universal
2,90,a man is jumping into an empty pool,every man is jumping into a full pool,every,Hypothesis,Subject,Negation,Universal
3,90,every man is jumping into an empty pool,every man is jumping into a full pool,every,Both,Subject,Negation,Universal
4,90,some man is jumping into an empty pool,a man is jumping into a full pool,some,Premise,Subject,Alternation,Existential

In [ ]:
df.isna().all() == False

SICK_id                                True
Premise                                True
Hypothesis                             True
Modifier                               True
Premise/Hypothesis/Both                True
Part of Premise/Hypothesis Modified    True
Ground Truth                           True
Quantifier Type                        True
dtype: bool

In [ ]:
df.shape[0]

1087

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/natural-logic/final-datasets/block-wise-data/blocks-dec26/annotated/combined/annotations_feb10_all.csv")
df.to_excel("/content/drive/MyDrive/Colab Notebooks/natural-logic/final-datasets/block-wise-data/blocks-dec26/annotated/combined/annotations_feb10_all.xlsx")